#nav {
    float: right;
}

#nav ul {
    list-style: none;
}

@media screen and (min-width: 400px) and (orientation: portrait) {
    #nav li {
        float: right;
        margin: 0 0 0 .5em;
        border: 1px solid #000000;
    }
}

@media screen and (min-width: 800px) {
    #nav {
        width: 200px;
    }
    #nav li {
        float: left;
        margin: 0 0 0 .5em;
        border: none;
    }
}

@media only screen and (max-width: 480px) {
    #mygrid {
        display: -ms-grid;
        margin: 3px;
        -ms-grid-columns: 100%;
        /*one column taking full width */
        -ms-grid-rows: 70px auto auto auto;
        /*4 rows */
    }
    .myheader {
        -ms-grid-row: 1;
        -ms-grid-column: 1;
    }
    #block1 {
        -ms-grid-row: 2;
        /*place into row 2 / column 1*/
        -ms-grid-column: 1;
    }
    #block2 {
        -ms-grid-row: 3;
        -ms-grid-column: 1;
    }
    #block3 {
        -ms-grid-row: 4;
        -ms-grid-column: 1;
    }
}

@media only screen and (min-width: 481px) {
    /*make two columns and move block 3 next to 1 — just because we can*/
    #mygrid {
        display: -ms-grid;
        -ms-grid-columns: 10px 1fr 10px 1fr 10px;
        /*10px columns to spacing in between*/
        -ms-grid-rows: 100px 1fr 1fr;
        /*100px row and two rows each taking 1 fraction
                                                  of available space*/
        margin: 5px;
    }
    #myheader {
        -ms-grid-row: 1;
        -ms-grid-column: 1;
        -ms-grid-column-span: 5;
        background-color: #EEB215;
    }
    #block1 {
        -ms-grid-row: 2;
        -ms-grid-column: 2;
        background-color: #B2B0B0;
    }
    #block2 {
        -ms-grid-row: 3;
        -ms-grid-column: 2;
        background-color: #726E6E;
    }
    #block3 {
        -ms-grid-row: 2;
        /*block 3 can go into row 2*/
        -ms-grid-column: 4;
        background-color: #515050;
    }
}

@media only screen and (max-width: 480px) {
    #mygrid {
        display: -ms-grid;
        margin: 3px;
        -ms-grid-columns: 100%;
        /*one column taking full width */
        -ms-grid-rows: 70px auto auto auto;
        /*4 rows */
    }
    #myheader {
        -ms-grid-row: 1;
        -ms-grid-column: 1;
    }
    #block1 {
        -ms-grid-row: 2;
        /*place into row 2 / column 1*/
        -ms-grid-column: 1;
    }
    #block2 {
        -ms-grid-row: 3;
        -ms-grid-column: 1;
    }
    #block3 {
        -ms-grid-row: 4;
        -ms-grid-column: 1;
    }
}

@media only screen and (min-width: 481px) {
    /*make two columns and move block 3 next to 1 — just because we can*/
    #mygrid {
        display: -ms-grid;
        -ms-grid-columns: 10px 1fr 10px 1fr 10px;
        /*10px columns to spacing in between*/
        -ms-grid-rows: 100px 1fr 1fr;
        /*100px row and two rows each taking 1 fraction
                                                          of available space*/
        margin: 5px;
    }
    #myheader {
        -ms-grid-row: 1;
        -ms-grid-column: 1;
        -ms-grid-column-span: 5;
        background-color: #EEB215;
    }
    #block1 {
        -ms-grid-row: 2;
        -ms-grid-column: 2;
        background-color: #B2B0B0;
    }
    #block2 {
        -ms-grid-row: 3;
        -ms-grid-column: 2;
        background-color: #726E6E;
    }
    #block3 {
        -ms-grid-row: 2;
        /*block 3 can go into row 2*/
        -ms-grid-column: 4;
        background-color: #515050;
    }
}

@media only screen and (min-width: 1220px) {
    #mygrid {
        display: -ms-grid;
        -ms-grid-columns: 1fr 10px 1fr 10px 1fr;
        -ms-grid-rows: 100px 1fr;
        margin: 5px;
    }
    #myheader {
        -ms-grid-row: 1;
        -ms-grid-column: 1;
        -ms-grid-column-span: 5;
        background-color: #EEB215;
    }
    #block1 {
        -ms-grid-row: 2;
        -ms-grid-column: 1;
        background-color: #B2B0B0;
    }
    #block2 {
        -ms-grid-row: 2;
        -ms-grid-column: 3;
        background-color: #726E6E;
    }
    #block3 {
        -ms-grid-row: 2;
        -ms-grid-column: 5;
        background-color: #515050;
    }
}

img,
object {
    max-width: 100%;
}